.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
output/
sample.pdf
network_average.jpeg
study/leukeamia_data/R-Line-C7R1dim_low_GC-24h.CEL
study/leukeamia_data/HD2-RPK-1-6h.CEL
study/leukeamia_data/HD2-RPK-1-24h.CEL
study/leukeamia_data/HD2-RPK-1-0h.CEL
study/leukeamia_data/HD1-STS-1-6h.CEL
study/leukeamia_data/B-ALL-Adult-6h.CEL
study/leukeamia_data/B-ALL-Adult-24h.CEL
study/leukeamia_data/B-ALL-Adult-0h.CEL
study/leukeamia_data/B-ALL-43-6h.CEL
study/leukeamia_data/B-ALL-43-24h.CEL
study/leukeamia_data/B-ALL-32-0h.CEL
study/leukeamia_data/B-ALL-31-6h.CEL
study/leukeamia_data/B-ALL-24-24h.CEL
study/leukeamia_data/B-ALL-24-0h.CEL
study/leukeamia_data/B-ALL-17-8h.CEL
study/leukeamia_data/B-ALL-17-24h.CEL
study/leukeamia_data/B-ALL-17-0h.CEL
study/leukeamia_data/T-ALL-20-0h.CEL
study/leukeamia_data/T-ALL-2-8h.CEL
study/leukeamia_data/T-ALL-2-24h.CEL
study/leukeamia_data/T-ALL-2-0h.CEL
study/leukeamia_data/S-Line-PreB_GC-6h.CEL
study/leukeamia_data/B-ALL-13-8h.CEL
study/leukeamia_data/B-ALL-13-24h.CEL
study/leukeamia_data/B-ALL-13-0h.CEL
study/leukeamia_data/HD1-STS-1-24h.CEL
study/leukeamia_data/HD1-STS-1-0h.CEL
study/leukeamia_data/C-Line-CEMC1_ratGR_GC-6h.CEL
study/leukeamia_data/C-Line-CEMC1_ratGR_GC-24h.CEL
study/leukeamia_data/C-Line-C7R1dim_high_GC-6h.CEL
study/leukeamia_data/B-ALL-43-0h.CEL
study/leukeamia_data/B-ALL-40-6h.CEL
study/leukeamia_data/B-ALL-40-24h.CEL
study/leukeamia_data/B-ALL-40-0h.CEL
study/leukeamia_data/B-ALL-38-6h.CEL
study/leukeamia_data/B-ALL-33-6h.CEL
study/leukeamia_data/B-ALL-33-24h.CEL
study/leukeamia_data/B-ALL-33-0h.CEL
study/leukeamia_data/B-ALL-32-6h.CEL
study/leukeamia_data/B-ALL-32-24h.CEL
study/leukeamia_data/S-Line-PreB_GC-24h.CEL
study/leukeamia_data/S-Line-C7H2_GC-6h.CEL
study/leukeamia_data/S-Line-C7H2_GC-24h.CEL
study/leukeamia_data/R-Line-PreB_GC-6h.CEL
study/leukeamia_data/R-Line-PreB_GC-24h.CEL
study/leukeamia_data/R-Line-PreB_EtOH-6h.CEL
study/leukeamia_data/C-Line-C7R1dim_high_GC-24h.CEL
study/leukeamia_data/B-ALL-IV_GC_40-6h.CEL
study/leukeamia_data/B-ALL-IV_GC_40-24h.CEL
study/leukeamia_data/B-ALL-38-24h.CEL
study/leukeamia_data/B-ALL-38-0h.CEL
study/leukeamia_data/B-ALL-37-6h.CEL
study/leukeamia_data/B-ALL-37-24h.CEL
study/leukeamia_data/B-ALL-31-24h.CEL
study/leukeamia_data/B-ALL-31-0h.CEL
study/leukeamia_data/B-ALL-24-6h.CEL
study/leukeamia_data/T-ALL-25-6h.CEL
study/leukeamia_data/T-ALL-25-24h.CEL
study/leukeamia_data/T-ALL-25-0h.CEL
study/leukeamia_data/T-ALL-20-8h.CEL
study/leukeamia_data/T-ALL-20-24h.CEL
study/leukeamia_data/R-Line-PreB_EtOH-24h.CEL
study/leukeamia_data/R-Line-CEMC1_GC-6h.CEL
study/leukeamia_data/R-Line-CEMC1_GC-24h.CEL
study/leukeamia_data/R-Line-C7R1dim_low_GC-6h.CEL
study/leukeamia_data/B-ALL-IV_EtOH_40-6h.CEL
study/leukeamia_data/B-ALL-IV_EtOH_40-24h.CEL
study/leukeamia_data/B-ALL-37-0h.CEL
schmidt_1_7_out_13_re_analysis_experiment.Rdata
schmidt_1_6_out_13_re_analysis_experiment.Rdata
schmidt_dot_7_7_out_13_re_analysis_experiment.Rdata
temp/reproduceSchmidtStudy_temp.Rdata
temp/cubeLeukaemia_RMA_LogRatio_temp_cluster.Rdata
temp/cubeLeukaemia_RMA_LogRatio_temp.Rdata
schmidt_dot_7_7_out_13_re_analysis_temporal_1_experiment.Rdata
temp/leukeamia_study_with_schmidts_output_temp.Rdata
clean.RData
schmidt_dot_7_6_out_13_re_analysis_experiment.Rdata
study/cell_cycle_model_genes.csv
study/cell_cycle_model_full.csv
study/Sandhya_model.R
edgeDetector_full_temporal_1.Rdata
study/cell_cycle_model_genes_on_second_email.csv
debug.RData
temp/
